.beefy {
  --primary-color: #f00;
  --header-bg: #f8f2ec;
  --bg-color: #fbf9f6;
  --border-color: #DED9D5;
  --text-color: #f0f;
  --link-color: #0ff;
  --heading-color: #fff;

  --button-base-bg: #000;
  --button-base-text: #fff;
  --button-hover-bg: #78B388;
  --button-hover-text: #fff;
  --button-active-bg: #5A8F69;
  --button-active-text: #fff;
  --button-disabled-bg: #888;
  --button-disabled-text: #fff;
}
