.beefy {
  --primary-color: #f00;
  --header-bg: #0f0;
  --bg-color: #00f;
  --border-color: #ff0;
  --text-color: #f0f;
  --link-color: #0ff;
  --heading-color: #fff;

  --button-base-bg: #000;
  --button-base-text: #fff;
  --button-hover-bg: #5a8f69;
  --button-hover-text: #fff;
  --button-active-bg: #82B08F;
  --button-active-text: #000;
}
