.beefy {
  --primary-color: #5A8F69;
  --header-bg: #f8f2ec;
  --bg-color: #fbf9f6;
  --border-color: #ded9d5;
  --text-color: #000;
  --link-color: #5a8f69;

  --button-base-bg: #000;
  --button-base-text: #fff;
  --button-hover-bg: #5a8f69;
  --button-hover-text: #fff;
  --button-active-bg: #78B388;
  --button-active-text: #fff;
  --button-disabled-bg: #888;
  --button-disabled-text: #fff;
}
